<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       
       <title>fr端st端ck  </title>
        <link rel="stylesheet" href="fr端hst端ch.css">
    </head>
    <body>
      
        <!-- start header -->
        <article>
         <header >
            <h1>Restaurant El'Pedross</h1>
            <img src="badr.jpg.png" width="100">
         </header>
        </article>    
        <!-- End header -->  
        <hr>
        <form>
           <input type="text" name="Username" placeholder="entrez votre adresse email">
           <input type="text" name="mot de passe" placeholder="mot de passe">
           <input type="submit">    
        
        </form>
        <form class="main-form">
           <p> <button > <a href="index.html" target="_blank">Speise karte</a></button></p>
           <p> <button formtarget="_blank">Reservation</button></p>
           <p> <button formtarget="_blank">Localisation de cafe</button> </p>
        </form>
           
            
       <hr>
        
        <footer>
          Copyright 2018 &copy; GmbH 
            <p> <span>
                kontakt : 0049505353535353
                <a href="avis.html" target="_blank">votre avis</a>  </p> 
            </span>
        </footer>
        
    
</body></html>