{% extends 'base.html.twig' %}

{% block body %}
    <body>
        <hr>
      
            <img src="{{ asset('build/image/6408c45d2ddb4948df40e3bad3b8a4434e493d80_article-deco-cafe-restaurant-n2.jpg') }}" width="100%">

            <div style="position:absolute;top:393px; left:172px; width:70%; height:400px; z-index:2;font-size:200%">
            <center><b style="color:white; font-style:italic;">herzlich willkommen in unserem Restaurant! Wir wünschen uns,
                      dass Sie sich wohl fühlen und Speis & Trank in Ruhe genießen.
                      Bei einem guten Getränk und liebevoll frisch zubereitetem Essen
                      gelingt es Ihnen sicherlich, Ihren Tag gemütlich in unserem
                      Restaurant ausklingen zu lassen.
                      Unsere rauchenden Gäste lassen wir nicht im Regen stehen,
                      besuchen Sie unsere Bar, wo die Zigarette zum Bier erlaubt ist.
                      Sind Sie zufrieden, erzählen Sie es jedem.
                      Wenn Sie unzufrieden sind, erzählen Sie es bitte uns.
                      Ihr Team des Restaurants</b>
                      </center>
    </div> 
               
       <hr>
        
    
        
{% endblock %}