{% extends 'base.html.twig' %}

{% block body %}
        
                <img src="{{ asset('build/image/0bfc0ce99892772fc285e10ee3943d9a_XL.jpg') }}" width="100">
                <a href="{{ path('avis_index') }}">votre avis</a>  </p> 

        
{% endblock %}