{% extends 'base.html.twig' %}

{% block body %}
    <body>
        <hr>
        <article>
           <header><h2>
            #Frühstück
            </h2></header>
        </article>
        <main>
            <p>Herzlich willkommen im El'pedross Restaurant</p>
        </main>
        
        <article class="karte">
           <header class="headerF">
            <h3>
                Frühstück
               </h3>
               <pre> 
                  <div> Good Morning </div>
              Mit Käse, Konfitüre, italienischer Salami oder         3,50€             
              Geflügelaufschnitt, dazu Butter und ein Brötchen
                  </pre>
                
                <hr>
                <pre>
                   <div> Happy Day</div>            
              Italienische Salami, Zwiebelmett, Fleischsalat,        9,90€
              Putenbrust, Maasdamer Käse, Saint Albray Käse,ein
              Frühstücksei und Konfitüre, dazu ein Brotkorb
                </pre>  
               <hr>
               <pre>  <div> Schlemmerfrühstück</div>            
              Serrano Schinken, Tomate & Mozzarella, Frischkäse,     12€
              Lachs, Konfitüre, Erdbeerquark, dazu ein Brotkorb
                </pre> 
                 
            </header>
        </article>
        <aside class="asideF"> 
               <section class="extrawunsch">
                  <h4>ExtraWünsche</h4>
                   <pre> Tomaten                     +0,70€</pre>
                   <pre> Champignons                 +1€ </pre>
                   <pre> 3 Geflügelbratwürstchen     +2€ </pre>
            
            
               </section>
        </aside>
        <div class="clearfix"></div>
       <hr>
        
       
    
</body>
{% endblock %}