 {% extends 'base.html.twig' %}

{% block body %}
    <body>
        <hr>
        <article>
           <header><h2>
            #Drinks
            </h2></header>
        </article>
        <main>
            <p>Herzlich willkommen im El'pedross Restaurant</p>
        </main>
        
        <article class="karte">
           <header class="headerG">
            <h3>
                Cocktails
               </h3>
               <pre> 
                  
           Cola,Fanta,schwepps                                        3,20€  
                                    
                 </pre>
                
                <hr>
                <pre>
                   <div>Sex on the beach</div>           
           Vodka, Pfirsichsirup, Grenadine, Orangen-                  11€
           ,Ananas- und Zitronensaft
                </pre>  
               <hr>
               <pre>  <div>Cocktail El'pedross</div>            
           bombay,shcwepps tonic,kaiserzitron                         12€
                </pre> 
                 
            </header>
        </article>
        <aside> 
               <section class="extrawunsch">
                  <h4>Wein&Bier</h4>
                   <pre> Einbecher                     3,30€</pre>
                   <pre> nörten-hardenberg pils        2,50€ </pre>
                   <pre> Lugana                        4,50€ </pre>
                   <pre> rot-Wein                      5€ </pre>
            
            
               </section>
        </aside>
        <div class="clearfix"></div>
       <hr>
        
        
    
</body>
{% endblock %}