 {% extends 'base.html.twig' %}

{% block body %}
    <body>
        <hr>
        <article>
           <header><h2>
            #Mittagsessen
            </h2></header>
        </article>
        <main>
            <p>Herzlich willkommen im El'pedross Restaurant</p>
        </main>
        
        <article class="karte">
           <header class="headerM">
            <h3>
                HauptGericht
               </h3>
               <pre> 
                  <div>Tajin Djaj w Zitoun  </div>
            Wili Wili ,Wa ch7al ldiiiid,Yaaaaaa SALAM                    30€
                                    
                 </pre>
                <hr>
                <pre>
            <div>NEU! Spaghetti Pesto Italia</div>            
            Hausgemachtes Pesto, Grana Padano, geschroteter             11,80€
            Pfeffer, geröstete Pinienkerne
                </pre>  
               <hr>
               <pre>  <div>Pasta Pisa</div>            
            Penne in pikant-würziger Tomaten-Basilikum-Sauce,dazu       14€
               aromatischer Rucola und frisch geriebener Grana Padan
                </pre> 
                 
            </header>
        </article>
        <aside> 
               <section class="extrawunsch">
                  <h4>ExtraWünsche</h4>
                   <pre> Tomaten                     +0,70€</pre>
                   <pre> Champignons                 +1€ </pre>
                   <pre> 3 Geflügelbratwürstchen     +2€ </pre>
                   <pre> Pommes frites               +3€ </pre>
            
            
               </section>
        </aside>
        <div class="clearfix"></div>
       <hr>
        
   
    
</body>
{% endblock %}