{% extends 'base.html.twig' %}

{% block body %}
    <body>
      <hr>
          <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.525181059032!2d9.967377915770555!3d51.521926579637594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a4d47b68cf5253%3A0x58043e74b4dd1de8!2sHAWK+G%C3%B6ttingen%2C+Von-Ossietzky-Stra%C3%9Fe+99%2C+37085+G%C3%B6ttingen!5e0!3m2!1sfr!2sde!4v1544325530428" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
         
      <hr>
    </body>
    
        
{% endblock %}