    
        <!-- start header -->
        <article>
         <header >
            <h1>Restaurant El'Pedross</h1>
            <img src="{{ asset('build/image/badr.jpg.png') }}" width="100">
         </header>
        </article>    
        <!-- End header -->  