{% extends 'base.html.twig' %}

{% block title %}New Mitarbeiter{% endblock %}

{% block body %}
    <h1>Create new Mitarbeiter</h1>

    {{ include('mitarbeiter/_form.html.twig') }}

    <a href="{{ path('mitarbeiter_index') }}">back to list</a>
{% endblock %}
