{% extends 'base.html.twig' %}

{% block body %}
    <body>
        <hr>
        
     <article>
           <header><h2>
            #Reservierung
            </h2></header>
        </article>
         
        <h4 class ="Reservierung_p">Herzlich willkommen im El'pedross Restaurant</h4>
  
        
        <p class ="Reservierung_p">für Reservierung, wir sind unter diesen Nummer erreichbar: 0049 152 518 269 70</p>

        <img src="{{ asset('build/image/6408c45d2ddb4948df40e3bad3b8a4434e493d80_article-deco-cafe-restaurant-n2.jpg') }}" width="100%">

       
    
    </body>
{% endblock %}